.grid-container { 
    display:grid;
  background-color: rgb(206, 233, 241);
  grid-template-areas:
  'one two'
  'one four'
   'one three';
    grid-template-rows: .5fr 2fr .5fr;
    grid-template-columns: 10% 90%;
  }
  
  
  
  .grid-container div {
    background-color: rgb(231, 198, 203);
    padding:20px;
    margin:10px;
  }
  
  .item1 {
    grid-area:one
  }
  
  .item2 {
    grid-area:two
  }
  
  .item3 {
    grid-area:three
  }
  
  .item4 {
    grid-area:four
  }
  
  .item1.item2.item3.item4 {
    backbround-color:rgb(243, 219, 222);
  padding:20ox;
  margin:10px;
  }
  
  
  
  
  
  
  
  